@model HomeMixVM

<div class="col-lg-8">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">View by page title and screen class</h5>
            <div class="table-responsive">
                <table class="table text-nowrap align-middle mb-0">
                    <thead>
                        <tr class="border-2 border-bottom border-primary border-0 class=" text-left"">
                            <th scope="col" class="ps-0">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col" >Phone Number</th>
                            <th scope="col" >Salary</th>
                            <th scope="col">Department</th>
                            <th scope="col" ></th>

                        </tr
                    </thead>
                    <tbody class="table-group-divider">
                        @foreach (var item in Model.employees)
                        {
                            <tr class="text-left">
                                <td >
                                    @item.firstName
                                </td>
                                <td>
                                    @item.lastName
                                </td>
                                <td>
                                    @item.phoneNumber
                                </td>
                                <td>
                                    @item.salary
                                </td>
                                <td>@item.Department.deptName</td>
                                <td>
                                    <a asp-controller="Employees" asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                                    <a asp-controller="Employees" asp-action="Details" asp-route-id="@item.id">Details</a> |
                                    <a asp-controller="Employees" asp-action="Delete" asp-route-id="@item.id">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-4">
    <div class="card">
        <div class="card-body text-center">
            <img src="../assets/images/backgrounds/product-tip.png" alt="image" class="img-fluid" width="205">
            <h4 class="mt-7">Productivity Tips!</h4>
            <p class="card-subtitle mt-2 mb-3">
                Duis at orci justo nulla in libero id leo
                molestie sodales phasellus justo.
            </p>
            <button class="btn btn-primary mb-3">View All Tips</button>
        </div>
    </div>
</div>


<partial name="_card" model="Model.products" ></partial>