@model List<Product>



@foreach (var item in Model)
{
    <div class="col-lg-4">
        <div class="card overflow-hidden hover-img">
            <div class="position-relative">
                <a asp-action="Details" asp-controller="Products" asp-route-id="@item.Id">
                    <img src="~/assets/images/blog/blog-img1.jpg" class="card-img-top" alt="matdash-img">
                </a>
            </div>
            <div class="card-body p-4">
                <span class="badge text-bg-light fs-2 py-1 px-2 lh-sm  mt-3">@item.Category.CategoryName</span>
                <a class="d-block my-4 fs-5 text-dark fw-semibold link-primary" asp-action="Details" asp-controller="Products" asp-route-id="@item.Id">
                    @item.ProductName
                </a>
                <div class="d-flex align-items-center ">
                    <p style="overflow:unset" class="d-flex align-items-center ">
                        @item.ProductDesc
                    </p>
                </div>
            </div>
        </div>
    </div>

}
